/* JUST COMMON TABLE STYLES... */
table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.tableFixHead {
  overflow: auto;
  height: 40vh;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}